{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  	<div class="row">
  		
		  	{% for product in products %}
		  	<div class="col-sm-4">
		  		<div class="card" style="width: 18rem;">
				  	{% if product.productimage_set.all  %}
		  			{% for item in product.productimage_set.all %}
		  				{% if item.featured %}
		  					<img class="img-responsive" src="{{ MEDIA_URL }}{{ item.image.url }}" />
		  				{% endif %}
		  			{% endfor %}
		  			{% else %}
		  			<img class="img-responsive" src="{% static 'img/placeholder.jpg' %}" />
		  			{% endif %}

				  	<div class="card-body">
				  		<h5 class="card-title">{{ product.title }}</h5>
					   	<p class="card-text">{{ product.description|truncatewords:15 }}</p>
					    <a href='{% url "single_product" product.slug %}' class="btn btn-primary">Detalhes</a>
				  	</div>
				</div>


		  		
		  		{{ product.price }}

		  	</div>	
		  	{% cycle "" "" "</div></br></hr><div class='row'>" %}
		  	
		  	{% endfor %}
  		
  	</div>
{% endblock %}